<%- include ("./partials/message") %>

<h1>dashboard</h1>
<p class="lead mb-3">Welcome To cahrity app <%=name%>and email is : <%= email%></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
